In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
data_hechos = pd.read_excel('homicidios.xlsx',sheet_name='HECHOS')
data_victimas = pd.read_excel('homicidios.xlsx',sheet_name='VICTIMAS')

In [3]:
# Se cre una funcion para detectar los nulos en los distintos campos del dataframe y si hay vacios 
# contarlos por nulos
def count_missing_and_empty_values(df):
    # Replace empty strings with NaN so they can be counted
    df.replace('', np.nan, inplace=True)
    
    # Calculate the count of missing and empty values for each column
    missing_counts = df.isna().sum()
    
    # Create a DataFrame to display the results
    missing_info = pd.DataFrame({'Column Name': missing_counts.index, 'Missing/Empty Values': missing_counts.values})

    return missing_info

In [4]:
count_missing_and_empty_values(data_hechos)

              Column Name  Missing/Empty Values
0                      ID                     0
1              N_VICTIMAS                     0
2                   FECHA                     0
3                    AAAA                     0
4                      MM                     0
5                      DD                     0
6                    HORA                     0
7                      HH                     0
8         LUGAR_DEL_HECHO                     0
9           TIPO_DE_CALLE                     0
10                  Calle                     1
11                 Altura                   567
12                  Cruce                   171
13  Dirección Normalizada                     8
14                 COMUNA                     0
15              XY (CABA)                     0
16                  pos x                     0
17                  pos y                     0
18          PARTICIPANTES                     0
19                VICTIMA                     0
20                ACUSADO                     0

In [28]:
data_hechos['XY (CABA)'].unique()

array(['Point (98896.78238426 93532.43437792)',
       'Point (95832.05571093 95505.41641999)',
       'Point (106684.29090040 99706.57687843)',
       'Point (99840.65224780 94269.16534422)',
       'Point (106980.32827929 100752.16915795)',
       'Point (101721.59002217 93844.25656649)',
       'Point (96545.87592078 102330.67262199)',
       'Point (107595.35084333 101797.50052813)',
       'Point (106616.41069662 100496.44662323)',
       'Point (102357.43746828 103343.52002839)',
       'Point (108661.59115206 98481.75445555)',
       'Point (101228.61094416 96623.72136186)',
       'Point (95727.37083199 97179.35560349)',
       'Point (107684.31807562 102519.17333314)',
       'Point (101074.94198885 99848.19369046)',
       'Point (107507.39502374 102046.08333077)',
       'Point (100077.95205948 91571.23307293)',
       'Point (97350.75566590 109083.19420265)',
       'Point (101679.82794245 98973.02976850)',
       'Point (107457.87314266 103212.28518029)',
       'Point (99037.31284333 109733.12041651)',
       'Point (99327.01838497 92326.91130631)',
       'Point (105230.98315750 97613.97258373)',
       'Point (106513.41423248 102752.75354401)',
       'Point (107808.84957181 99174.17105826)',
       'Point (100049.60313526 98412.21255444)',
       'Point (96926.79887463 94490.76318635)',
       'Point (105252.60308563 102264.96028996)',
       'Point (100232.38564985 99530.25843190)',
       'Point (98623.04338909 94933.06478837)',
       'Point (102857.73817324 99148.76714504)',
       'Point (99620.34936816 110483.29286598)',
       'Point (107412.19098904 100391.02557777)',
       'Point (101440.29935254 104167.40204334)', 'Point (. .)',
       'Point (99106.14718950 93761.32882893)',
       'Point (98073.80557770 105955.73972818)',
       'Point (97832.57143731 93489.83736533)',
       'Point (105787.74102401 105502.98340149)',
       'Point (103094.06446966 105842.29634122)',
       'Point (107411.76356149 100408.31441284)',
       'Point (107434.83290791 100217.70308007)',
       'Point (97106.70264812 99970.19547024)',
       'Point (101010.75965434 102062.18185970)',
       'Point (98052.13008621 94912.60873025)',
       'Point (106673.12856878 104998.99234220)',
       'Point (106612.54991859 100244.75667446)',
       'Point (97531.24792840 101000.15957301)',
       'Point (96731.44252651 94668.88351657)',
       'Point (98963.32962830 95620.61360192)',
       'Point (100109.22264405 102851.86942760)',
       'Point (108532.37320501 102648.40418720)',
       'Point (105354.74322032 101621.63182427)',
       'Point (100757.94817512 108943.96108781)',
       'Point (93950.50587297 98883.37644525)',
       'Point (97805.54034401 107789.89169078)',
       'Point (103719.51591058 98555.13443768)',
       'Point (101413.41644585 100430.31523295)',
       'Point (107539.54864414 103093.65031518)',
       'Point (103621.92252760 96885.28433165)',
       'Point (97801.31825511 99194.93911759)',
       'Point (107762.62066736 100018.90176187)',
       'Point (96492.89040317 106832.19475660)',
       'Point (102842.06561704 108587.10659007)',
       'Point (103997.04813615 102012.34139150)',
       'Point (101804.61714036 100693.45218194)',
       'Point (95061.77375682 103748.74085597)',
       'Point (106687.13301820 101510.97040757)',
       'Point (105765.97394356 100631.47718024)',
       'Point (94486.28631712 103468.59928582)',
       'Point (97098.48468623 109019.96106626)',
       'Point (93946.81673714 97681.68907836)',
       'Point (96625.80612216 95129.90776954)',
       'Point (99720.41444035 97007.69579491)',
       'Point (100905.28580812 104982.19279501)',
       'Point (107558.64146875 104433.48706482)',
       'Point (108408.31858686 97219.56218484)',
       'Point (94544.31344300 99185.28796442)',
       'Point (95506.35959227 96696.89655626)',
       'Point (98961.36262767 105838.76329094)',
       'Point (107392.50226602 100712.59265582)',
       'Point (96998.81124177 98183.20743664)',
       'Point (104111.05146856 103917.57944765)',
       'Point (97608.87024259 108884.67029908)',
       'Point (105865.95849347 105162.71037105)',
       'Point (107696.68171812 100254.76268710)',
       'Point (96944.69676081 107291.52292157)',
       'Point (99150.75069529 97484.46650280)',
       'Point (101099.34592952 98750.07827754)',
       'Point (100053.89791316 100046.73776995)',
       'Point (97532.91184699 98538.89061454)',
       'Point (94275.54271123 100886.87954649)',
       'Point (102048.72946345 95839.63478990)',
       'Point (104049.28528337 99858.37522846)',
       'Point (107720.24059557 100176.85101454)',
       'Point (105921.45515383 98209.53178328)',
       'Point (104853.84131654 100497.93573387)',
       'Point (105619.82089682 105083.85914124)',
       'Point (97612.37609226 94761.81268260)',
       'Point (103734.76257993 107235.78328415)',
       'Point (95222.93546397 104315.24453153)',
       'Point (100385.69739031 107770.04028070)',
       'Point (103965.45958231 107084.94812768)',
       'Point (100700.71684791 107520.92282315)',
       'Point (108069.68986814 104046.20018024)',
       'Point (109494.82838112 99532.69117874)',
       'Point (101657.76119068 107735.39237736)',
       'Point (106147.25140863 99876.44981079)',
       'Point (106817.01972475 101248.18030272)',
       'Point (99810.88349598 103818.87868694)',
       'Point (104996.91619776 97395.92929535)',
       'Point (99888.30162107 97709.27452060)',
       'Point (103130.82393478 103817.27945358)',
       'Point (97546.12845734 94093.36420523)',
       'Point (94107.02905618 100169.73297345)',
       'Point (105219.14271583 101089.92439911)',
       'Point (98856.51878317 101315.60184716)',
       'Point (94867.91408532 99212.26216105)',
       'Point (103490.75904616 105613.31878847)',
       'Point (100856.34310085 104890.83521057)',
       'Point (103673.23003122 98676.84527702)',
       'Point (108623.21898604 100090.41541188)',
       'Point (98526.50846677 108043.08552265)',
       'Point (96082.96647324 107261.96873833)',
       'Point (108916.48040002 100856.88142642)',
       'Point (104044.75501725 99724.84699960)',
       'Point (99615.63172945 99306.93173343)',
       'Point (100243.74197213 99962.81893983)',
       'Point (108597.31948169 101875.41306445)',
       'Point (104920.46334566 104589.99681258)',
       'Point (105541.07964363 101532.48653010)',
       'Point (99757.62471161 102105.99371863)',
       'Point (106759.07058844 98352.11326541)',
       'Point (107491.43483173 101547.26343171)',
       'Point (102213.80136590 104917.03799721)',
       'Point (104341.1368196 100202.74363294)',
       'Point (102535.57417570 100108.76675064)',
       'Point (96563.66494817 108815.73881056)',
       'Point (104914.66823035 97637.72796868)',
       'Point (106744.80812193 97588.11558612)',
       'Point (97378.59173196 108741.41437861)',
       'Point (106454.66355436 103285.14730222)',
       'Point (107547.76713701 100705.57738660)',
       'Point (103145.91571023 105359.30690018)',
       'Point (107308.24054153 102678.45528316)',
       'Point (99762.20699423 99968.05446003)',
       'Point (102489.38230491 97228.94942016)',
       'Point (104113.67806500 97722.68219304)',
       'Point (107333.53318866 99701.77552382)',
       'Point (100783.70757056 101919.87125456)',
       'Point (98009.35575364 97985.81952007)',
       'Point (99375.77435905 96732.87189547)',
       'Point (104889.75647602 100057.93817815)',
       'Point (97652.09135282 93973.55833508)',
       'Point (94371.21426086 102884.21739121)',
       'Point (103464.34360929 105543.78205193)',
       'Point (109583.11620052 102006.72069921)',
       'Point (95300.18060161 105287.23850698)',
       'Point (101662.32423755 98406.44885071)',
       'Point (102290.82648731 109281.08885461)',
       'Point (100774.70463767 99328.98632835)',
       'Point (94388.40460408 100522.78812728)',
       'Point (99648.31069819 95261.11808541)',
       'Point (102273.01728657 97084.66236498)',
       'Point (97173.99360188 94265.65054023)',
       'Point (108050.74089604 97335.15201103)',
       'Point (97843.76024114 104700.29820723)',
       'Point (97032.68537217 105507.05805581)',
       'Point (107271.27725903 103337.46347012)',
       'Point (107433.79647713 100255.68319210)',
       'Point (100333.14201607 95123.00813458)',
       'Point (106445.10866138 103387.80115442)',
       'Point (95477.60201436 99478.59069542)',
       'Point (107531.03549571 101417.11038758)',
       'Point (107958.58079244 102597.49225224)',
       'Point (107903.91828587 98767.43091425)',
       'Point (100300.69930045 102792.78597597)',
       'Point (102703.30911569 100138.40769771)',
       'Point (102520.03961549 96105.29592085)',
       'Point (94644.00300729 96592.22735507)',
       'Point (95907.08722675 103463.22327776)',
       'Point (97389.59663507 105213.53381695)',
       'Point (105089.38820014 102773.44772064)',
       'Point (94281.31244858 99043.29027489)',
       'Point (107498.83241886 102238.54924157)',
       'Point (107160.34141948 105678.38284277)',
       'Point (103115.59520137 104964.08461543)',
       'Point (105202.26736061 101269.73269565)',
       'Point (97070.50716478 98268.08001276)',
       'Point (106636.30041967 99991.34072603)',
       'Point (107180.90591568 104682.54945160)',
       'Point (108315.72323297 99748.45783960)',
       'Point (94914.28538682 98912.56901137)',
       'Point (104800.65774098 101563.94663965)',
       'Point (108741.48238670 100448.08502809)',
       'Point (95246.78684010 97935.32361317)',
       'Point (94866.55993974 104164.40879727)',
       'Point (97850.57417090 109546.39428377)',
       'Point (102474.90818824 108830.74789029)',
       'Point (94212.26181299 101286.25735606)',
       'Point (104068.94257873 103491.45652529)',
       'Point (99608.90354249 108823.89449537)',
       'Point (100563.22594607 99771.56223988)',
       'Point (103600.34605991 107446.36084135)',
       'Point (106103.99852157 101567.67895783)',
       'Point (101644.77699748 106480.78805418)',
       'Point (105750.92237188 97579.79677541)',
       'Point (107538.91933237 101188.13128502)',
       'Point (103483.20578848 105425.94020024)',
       'Point (100245.64635241 109464.60244956)',
       'Point (99266.22533505 99180.83096967)',
       'Point (108513.43549456 103032.95078343)',
       'Point (103948.02389064 98549.15451723)',
       'Point (100479.14412395 98812.52258620)',
       'Point (107918.77617420 103716.42961253)',
       'Point (106632.70892338 104910.17381357)',
       'Point (103803.42869640 99818.79654291)',
       'Point (95357.86744200 105380.41895972)',
       'Point (108016.39016447 97439.36817481)',
       'Point (99113.17852207 96319.06728520)',
       'Point (99518.38660571 95241.63338177)',
       'Point (101904.43474476 104150.89892205)',
       'Point (99732.19478660 94453.36361177)',
       'Point (98466.20276785 94207.42419155)',
       'Point (104713.04838502 103467.44528033)',
       'Point (102105.12699179 101749.49668435)',
       'Point (99243.41866587 97782.67879316)',
       'Point (98575.30034704 103283.44421792)',
       'Point (99796.45945783 92847.91633262)',
       'Point (101915.86954232 95727.75538814)',
       'Point (99355.48397222 103660.98712619)',
       'Point (104127.10295709 97119.53980201)',
       'Point (95458.27090734 104045.28333021)',
       'Point (100065.47249269 98381.80497378)',
       'Point (101160.07257435 94368.23344193)',
       'Point (103312.47684665 100458.27902411)',
       'Point (99897.24182072 102443.29154512)',
       'Point (104266.88124229 101889.22080612)',
       'Point (96405.76679348 94981.38013791)',
       'Point (105155.42991407 100540.06938064)',
       'Point (108605.31247489 101604.53195530)',
       'Point (95589.03838155 98881.22999034)',
       'Point (108130.20782757 97076.54120716)',
       'Point (104752.14395609 97617.14934540)',
       'Point (103186.65733155 101217.09689755)',
       'Point (106688.43418876 99459.27505947)',
       'Point (100674.98109200 100299.64949548)',
       'Point (94007.62506099 98145.35456663)',
       'Point (94764.11350214 103903.32150283)',
       'Point (99317.63492514 100172.19114010)',
       'Point (98285.13000363 96624.14779705)',
       'Point (106229.70400707 100696.43939679)',
       'Point (108138.18410245 101140.78821350)',
       'Point (101348.13972450 102808.02053976)',
       'Point (100183.96103971 109533.84269558)',
       'Point (108641.50518777 101075.93727953)',
       'Point (102079.59903748 100474.45881577)',
       'Point (94340.14761734 99250.24722124)',
       'Point (108868.80749430 101370.51785663)',
       'Point (108796.38792642 100177.06810505)',
       'Point (96810.81688812 99875.56613013)',
       'Point (106639.47032605 104255.89970551)',
       'Point (99466.65991849 94317.70888094)',
       'Point (97860.62977748 106812.00802724)',
       'Point (102067.32140821 97610.71255013)',
       'Point (107053.47849253 98047.93724144)',
       'Point (99418.67591727 99840.67619219)',
       'Point (108363.47256437 98202.84498754)',
       'Point (106550.65433457 104158.41702434)',
       'Point (101207.19032483 96015.90575056)',
       'Point (105634.57202683 98201.36000813)',
       'Point (108149.86840397 98842.98534187)',
       'Point (102035.73876399 100936.73706899)',
       'Point (99305.05235104 105657.19134383)',
       'Point (100337.26455822 100756.41076314)',
       'Point (104283.01090451 97171.08656182)',
       'Point (104051.46146857 99117.09528964)',
       'Point (99275.15851476 98531.15835355)',
       'Point (99001.33520474 100973.19474422)',
       'Point (99641.71055660 105570.42188351)',
       'Point (99468.64184992 101272.71412938)',
       'Point (101491.71965442 106698.43843791)',
       'Point (96143.57848535 100026.85558450)',
       'Point (105786.93203839 103775.29320399)',
       'Point (100003.66169818 100008.18099088)',
       'Point (97118.17245497 103585.17867883)',
       'Point (105923.35790409 103271.83194351)',
       'Point (106840.31999667 102262.72809661)',
       'Point (100590.76036525 106235.55299971)',
       'Point (103711.66698694 98495.65433114)',
       'Point (107026.83754260 98858.75172681)',
       'Point (97438.46582767 101907.03915052)',
       'Point (105715.04318224 101174.58167004)',
       'Point (100808.33159423 105557.81994917)',
       'Point (99925.51296558 100002.14427355)',
       'Point (100107.11808300 108354.57023193)',
       'Point (100606.16651489 107458.45493347)',
       'Point (109491.72835084 98425.60443682)',
       'Point (96798.08806617 104278.02817622)',
       'Point (104834.84104085 103313.26202067)',
       'Point (98495.84519532 106440.03052817)',
       'Point (105482.77183741 101155.54165898)',
       'Point (94825.31796080 98898.07278223)',
       'Point (106436.50690531 100845.32785530)',
       'Point (102567.54814228 104264.87527568)',
       'Point (104724.05358972 99878.51159963)',
       'Point (105911.62147898 101065.51501699)',
       'Point (108473.00357935 103295.64162815)',
       'Point (100435.26388900 98861.53271694)',
       'Point (107493.20906271 104038.93317074)',
       'Point (100750.52062158 104691.17506829)',
       'Point (107891.26340037 99945.61487141)',
       'Point (100718.69831349 99996.27412808)',
       'Point (105900.94104333 103295.18325601)',
       'Point (104963.31095539 100886.97438212)',
       'Point (108808.25931028 102022.90885862)',
       'Point (98224.62123059 93867.97738800)',
       'Point (106218.96559101 97510.98250186)',
       'Point (99438.84176266 99501.28380301)',
       'Point (105470.75546311 105320.72785650)',
       'Point (104647.18963470 103830.17880585)',
       'Point (101453.89687005 98180.39027169)',
       'Point (97148.03881747 96734.79106149)',
       'Point (98491.08733048 93092.87943671)',
       'Point (108993.20201253 100735.24332429)',
       'Point (97534.35415051 97682.40955825)',
       'Point (104296.57153484 99891.67281595)',
       'Point (102791.00899168 95424.06973029)',
       'Point (103662.91363929 103496.49206019)',
       'Point (107004.02001368 99798.84856249)',
       'Point (104734.93787233 104821.22705013)',
       'Point (99624.29795829 97569.69801131)',
       'Point (101692.57924565 95312.63822646)',
       'Point (102819.52927414 96448.46140692)',
       'Point (99203.46279192 92552.75548716)',
       'Point (109273.33013929 100616.46322293)',
       'Point (98376.44189669 109821.71138325)',
       'Point (104810.02928662 98097.69340075)',
       'Point (101577.07056955 98313.98170453)',
       'Point (102437.44187502 108614.72855724)',
       'Point (105258.35368554 102122.93231400)',
       'Point (109333.85016626 102728.06777580)',
       'Point (108501.28725227 103169.39367565)',
       'Point (102852.69197214 103016.76479974)',
       'Point (99423.87045126 97756.09331484)',
       'Point (101521.41058610 103279.18839709)',
       'Point (99245.93828707 101610.8222803)',
       'Point (106692.15004353 101239.02351805)',
       'Point (93987.63954589 98477.26093452)',
       'Point (97213.03214767 94392.58930391)',
       'Point (98224.84159668 96577.14272605)',
       'Point (105244.38396064 102386.61371612)',
       'Point (102489.86457298 96266.15892101)',
       'Point (98237.46824855 106343.83342545)',
       'Point (96684.78779898 99093.85665638)',
       'Point (98704.10681045 95222.62689520)',
       'Point (94668.77734942 99160.32825286)',
       'Point (104289.92773867 97606.13539657)',
       'Point (93889.86789861 98745.59348173)',
       'Point (95720.94836751 106663.03756022)',
       'Point (94027.41355272 98150.01779732)',
       'Point (101200.55632600 104694.24798650)',
       'Point (97531.36286491 100173.61049110)',
       'Point (108685.90894590 103124.78289557)',
       'Point (106275.90279188 106304.98623165)',
       'Point (103649.67568294 98786.92074818)',
       'Point (108124.38297421 101840.19801704)',
       'Point (99900.22869225 100014.51595495)',
       'Point (107198.03031731 102023.53206745)',
       'Point (95944.83421152 100945.68379559)',
       'Point (101510.09611838 98933.71958961)',
       'Point (109469.86887005 101709.86665960)',
       'Point (104420.68512694 100931.98574919)',
       'Point (95716.93710226 106295.47905158)',
       'Point (97912.79273192 98756.38729095)',
       'Point (100794.20933352 97609.18063839)',
       'Point (97439.07314838 103559.40773606)',
       'Point (99087.21233087 97384.56622913)',
       'Point (94701.87719386 99493.36109269)',
       'Point (104292.73762877 108227.37900690)',
       'Point (103153.61467028 102057.67908768)',
       'Point (98650.97430792 93088.91481914)',
       'Point (108038.17400278 100802.81492813)',
       'Point (103359.87920798 106617.17056502)',
       'Point (94949.53051500 96309.49139706)',
       'Point (98072.98959434 94742.80804806)',
       'Point (102701.07793891 98301.55899449)',
       'Point (95105.42229190 104734.49416290)',
       'Point (96988.34526261 103575.43345979)',
       'Point (107350.48403234 99520.90259673)',
       'Point (105883.57359899 101434.40486977)',
       'Point (101287.58627255 109848.96522762)',
       'Point (101175.50098927 108378.70762331)',
       'Point (104622.17042668 99282.25347815)',
       'Point (100537.72694403 100405.74808196)',
       'Point (106608.39392805 100635.27735528)',
       'Point (93955.07404645 99209.29091025)',
       'Point (108368.93688513 104860.74716674)',
       'Point (104468.07400702 102205.91009215)',
       'Point (105815.73438780 103786.90549585)',
       'Point (100255.56175905 102594.14179920)',
       'Point (100800.05107565 100531.46552448)',
       'Point (108602.89777103 103429.39485413)',
       'Point (99921.70768730 102754.71427746)',
       'Point (100726.63402530 97597.06610219)',
       'Point (107693.66022765 103185.01912141)',

In [5]:
# Se observa algunos registros del dataframe
data_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [6]:
# Se revisa informacion detallada de los campos del Dataframe
data_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [7]:
# En este dataframe hay campos con valores sin dato('SD'), se miran cual es son
sindato = data_hechos[data_hechos == 'SD']
sindato.count()

ID                        0
N_VICTIMAS                0
FECHA                     0
AAAA                      0
MM                        0
DD                        0
HORA                      1
HH                        1
LUGAR_DEL_HECHO           1
TIPO_DE_CALLE             0
Calle                     0
Altura                    0
Cruce                     0
Dirección Normalizada     0
COMUNA                    0
XY (CABA)                 0
pos x                     0
pos y                     0
PARTICIPANTES             0
VICTIMA                   9
ACUSADO                  23
dtype: int64

In [8]:
# Observamos que el campo 'HH' esta con tipo de dato que no les correnponde,
# ademas contine registros sin dato(SD), se procede a realizar los cambios
data_hechos['HH'] =data_hechos['HH'].replace('SD','0')
data_hechos['HH'] = data_hechos['HH'].astype(int)

In [9]:
#Los cammpos pos x y pos y representan coordenadas, checkeemos como estan compuestos
check = data_hechos[['pos x','pos y']]
check.head()

          pos x         pos y
0  -58.47533969  -34.68757022
1  -58.50877521  -34.66977709
2  -58.39040293  -34.63189362
3  -58.46503904  -34.68092974
4  -58.38718297  -34.62246630

In [10]:
# Cambiamos el tipo de dato a numerico de las coordenadas
data_hechos['pos x']= pd.to_numeric(data_hechos['pos x'], errors='coerce')
data_hechos['pos y']= pd.to_numeric(data_hechos['pos y'], errors='coerce')

In [11]:
count_missing_and_empty_values(data_hechos)

              Column Name  Missing/Empty Values
0                      ID                     0
1              N_VICTIMAS                     0
2                   FECHA                     0
3                    AAAA                     0
4                      MM                     0
5                      DD                     0
6                    HORA                     0
7                      HH                     0
8         LUGAR_DEL_HECHO                     0
9           TIPO_DE_CALLE                     0
10                  Calle                     1
11                 Altura                   567
12                  Cruce                   171
13  Dirección Normalizada                     8
14                 COMUNA                     0
15              XY (CABA)                     0
16                  pos x                    12
17                  pos y                    12
18          PARTICIPANTES                     0
19                VICTIMA                     0
20                ACUSADO                     0

In [12]:
missing_rows = data_hechos[['pos x', 'pos y']][data_hechos[['pos x', 'pos y']].isna().any(axis=1)]
missing_rows

     pos x  pos y
38     NaN    NaN
106    NaN    NaN
119    NaN    NaN
139    NaN    NaN
176    NaN    NaN
180    NaN    NaN
181    NaN    NaN
256    NaN    NaN
313    NaN    NaN
546    NaN    NaN
559    NaN    NaN
621    NaN    NaN

In [14]:
# Se seleccionan campos a analizar
d_hechos = data_hechos[['ID','N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD','HH', 'TIPO_DE_CALLE', 'XY (CABA)',
                           'pos x', 'pos y','VICTIMA', 'ACUSADO']]

In [15]:
d_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             696 non-null    object
 1   N_VICTIMAS     696 non-null    int64
 2   FECHA          696 non-null    datetime64[ns]
 3   AAAA           696 non-null    int64
 4   MM             696 non-null    int64
 5   DD             696 non-null    int64
 6   HH             696 non-null    int32
 7   TIPO_DE_CALLE  696 non-null    object
 8   XY (CABA)      696 non-null    object
 9   pos x          684 non-null    float64
 10  pos y          684 non-null    float64
 11  VICTIMA        696 non-null    object
 12  ACUSADO        696 non-null    object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(4), object(5)
memory usage: 68.1+ KB

In [29]:
d_hechos['N_VICTIMAS'].sum()

717

In [16]:
d_hechos.to_csv('data_hechos.csv')

In [17]:
# Ahora con el siguiente DataFrame aplizamos la funcion
count_missing_and_empty_values(data_victimas)

           Column Name  Missing/Empty Values
0             ID_hecho                     0
1                FECHA                     0
2                 AAAA                     0
3                   MM                     0
4                   DD                     0
5                  ROL                     0
6              VICTIMA                     0
7                 SEXO                     0
8                 EDAD                     0
9  FECHA_FALLECIMIENTO                     0

In [18]:
#Despues de observar que esta limpio, observamos alunos de sus registros
data_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [19]:
# Obtenemos informacion respecto al dataframe
data_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [21]:

# En este dataframe hay campos con valores sin dato('SD'), se miran cual es son
sindato = data_victimas[data_victimas == 'SD']
sindato.count()

ID_hecho                0
FECHA                   0
AAAA                    0
MM                      0
DD                      0
ROL                    11
VICTIMA                 9
SEXO                    6
EDAD                   53
FECHA_FALLECIMIENTO    68
dtype: int64

In [22]:
# Observamos que los campos continen registros sin dato(SD), se procede a realizar los cambios
data_victimas['EDAD'] =data_victimas['EDAD'].replace('SD', np.nan)

In [23]:
# Se realiza el cambio de tipo de dato
data_victimas['EDAD'] = data_victimas['EDAD'].astype(float)

In [24]:
# Eliminamos fecha de fallecimiento
data_victimas.drop(columns='FECHA_FALLECIMIENTO', inplace=True)

In [25]:
data_victimas.to_csv('data_victimas.csv')